@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Umbraco.Web
@using Umbraco.Web.Controllers
@using Umbraco.Web.Models
@using System.Web.Mvc.Html
@using ClientDependency.Core.Mvc




@{ var selection = Model.Content.Site().Children.Where(x => x.IsVisible()).ToArray(); }

@if (selection.Length > 0)
{
    <ul class="navbar-nav mx-auto mb4">
        <li class="ph2 underline-hover nav-item menu">
            <a class="menu f3 nav-link" href="/@Model.Content.Site().Name">Home</a>
        </li>
        @foreach (var item in selection)
        {
            var isProtected = umbraco.library.IsProtected(item.Id, item.Path);
            var loginAccess = umbraco.library.IsProtected(item.Id, item.Path) && umbraco.library.HasAccess(item.Id, item.Path);
            if (!isProtected || loginAccess)
            {
                var selectionDropDown = item.Children.Where(x => x.IsVisible()).OrderBy(x => x.Name).ToArray();

                if (selectionDropDown.Length > 0)
                {
                    <li class="ph2 underline-hover nav-item dropdown menu">
                        <a class="menu f3 nav-link dropdown-toggle" data-toggle="dropdown" id="download" aria-expanded="false">@item.Name <span class="caret"></span></a>
                        <div class="dropdown-menu" aria-labelledby="download">

                            @foreach (var item2 in selectionDropDown)
                            {
                                if (item2.GetProperty("projectStatus") != null && item2.GetPropertyValue("projectStatus").ToString() == "28")
                                {
                                    <a class="dropdown-item menu" href="@item2.Url">@item2.Name</a>
                                }
                                else if (item2.GetProperty("projectStatus") == null)
                                {
                                    <a class="dropdown-item menu" href="@item2.Url">@item2.Name</a>
                                }

                            }
                        </div>
                    </li>
                }
                else
                {
                    <li class="menu ph2 underline-hover nav-item">
                        <a class="menu f3 nav-link" href="@item.Url">@item.Name</a>
                    </li>
                }


            }


        }
        @if (Members.GetCurrentLoginStatus().IsLoggedIn)
        {
            <li class="ph2 underline-hover nav-item menu">
                <a class="menu f3 nav-link" href="/logout">Logout</a>
            </li>
        }
        else
        {
            <li class="ph2 underline-hover nav-item menu">
                <a class="menu f3 nav-link" href="/login">Login</a>
            </li>
        }



    </ul>
}

